@charset "utf-8";

/***** main-page *****/
.main-page-wrapper {
  width: 100%;
  font-family: var(--font-m-en);
  font-weight: var(--font-bold);
  background: url(./images/footer-grid.png) no-repeat 50% / cover, var(--color-primary);
  position: relative;
  z-index: -9999;
  text-align: center;
}
.main-page-wrapper .main-text {
  background-color: var(--color-main-pink);
  color: var(--color-white);
  font-size: 15px;
  padding: 5px 10px;
  width: 50%;
  position: absolute;
  top: 44%; left: 35%;
  transform: translate(-44%, -35%) rotate(-3deg);
  z-index: 2;
}
/* 수정 필요, ::before가 .main-text 뒤로 가야하는데 안감 ㅠㅠㅠㅠㅠㅠ */
.main-page-wrapper .main-text::before, 
.main-page-wrapper .main-text::after {
  content: "lilybyred lilybyred lilybyred";
  background-color: var(--color-black);
  color: var(--color-main-yellow);
  padding: 5px 10px;
  position: absolute;
  left: -40px; top: -135px;
  transform: rotate(-40deg);
  width: 100%;
  z-index: -999;
}
.main-page-wrapper .title {
  text-transform: capitalize;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-weight: 900;
  font-size: 32px;
  width: 55%;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.main-page-wrapper .title span {
  background-color: var(--color-white);
  width: 100%;
  display: block;
  border-top: 1px solid var(--color-main-pink);
  position: absolute;
  top: 90%; left: 20px;
}
.main-page-wrapper .main-intro {
  font-size: var(--font-m-lg);
  color: var(--color-primary);
  /* color: transparent; */
  text-transform: uppercase;
  text-shadow: 0px 0px var(--color-white);
}
.main-page-wrapper .main-img-box {}
.main-page-wrapper .main-img-box img {}