@charset "utf-8";

/***** main-page *****/
.main-page-wrapper {
  margin: 0;
  width: 100%;
  height: 500px;
  font-family: var(--font-m-en);
  font-weight: var(--font-bold);
  background: url(./images/footer-grid.png) no-repeat 50% / cover, var(--color-primary);
  position: relative;
  z-index: -9999;
  text-align: center;
  overflow: hidden;
}
/*- 웰컴투릴리바이레드 -*/
.main-page-wrapper .title {
  text-transform: capitalize;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-weight: 900;
  font-size: 32px;
  width: 250px;
  padding: 5px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.main-page-wrapper .title span {
  background-color: var(--color-white);
  width: 105%;
  display: block;
  padding: 5px;
  border-top: 1px solid var(--color-main-pink);
  position: absolute;
  top: 90%; left: 20px;
}
/*- 릴리바이레드 핑크색 -*/
.main-page-wrapper .main-text {
  background-color: var(--color-main-pink);
  color: var(--color-white);
  font-size: 15px;
  padding: 5px 10px;
  width: 250px;
  position: absolute;
  top: 43%; left: 35%;
  transform: translate(-44%, -35%) rotate(-3deg);
  z-index: 1;
}
/* 핑크색 뒤로 들어가는 검정 박스 */
.main-page-wrapper .back-text {
  background-color: var(--color-black);
  color: var(--color-main-yellow);
  padding: 5px 10px;
  position: absolute;
  left: -5%; top: 10%;
  transform: rotate(-40deg);
  width: 500px;
  white-space: nowrap;
}
/*- 릴리!체키!샤시! -*/
.main-page-wrapper .main-intro {
  font-size: var(--font-m-lg);
  color: var(--color-primary);
  text-transform: uppercase;
  -webkit-text-stroke: 0.3px var(--color-white);
  position: absolute;
  top: 67%; left: 55%;
  transform: translateX(-50%);
  white-space: nowrap;
}
/*- main-imgs -*/
.main-page-wrapper .main-img-box {
  width: 100%; height: 100%;
  position: relative;
}
.main-page-wrapper .main-img-box img {
  position: absolute;
}
.main-page-wrapper .main-img-box img[alt="black-star"] {
  width: 50px;
  top: 20%; right: 15%;
}
.main-page-wrapper .main-img-box img[alt="cheery"] {
  width: 110px;
  top: 35%; right: -7%;
}
.main-page-wrapper .main-img-box img[alt="tint"] {
  width: 200px;
  top: 53%; left: -7%;
}

/***** brand-intro *****/
.brand-intro-wrapper {
  margin-top: 30px;
}
/*- pagenation -*/
.brand-intro-wrapper .pagenation {
  text-indent: -9999px;
  display: flex;
  justify-content: center;
}
.brand-intro-wrapper .pagenation li {
  width: 10px; height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0 3px;
}
/*- 릴리바이레드 소개 -*/
.brand-intro-wrapper .lilyByRed-box {
  text-align: center;
  position: relative;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro li .brand-logo img {
  margin: 70px 0 20px;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro li strong {
  font-size: 15px;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro li .des {
  font-size: var(--font-m-md);
  margin: 20px 0;
  line-height: 1.7;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro li .des span {
  display: block;
}
/*- 릴리바이레드 이미지 -*/
.brand-intro-wrapper .lilyByRed-box .brand-intro-img-box img {
  position: absolute;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro-img-box .brand-box {
  width: 100%;
  top: 0; left: 0;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro-img-box img[alt="heart-icon"] {
  /* top: 210px; left: 70px; */
  top: 60%; left: 23%;
  z-index: -99;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro-img-box img[alt="star-icon"] {
  top: 55%; left: 10%;

}
.brand-intro-wrapper .lilyByRed-box .brand-intro-img-box img[alt="dotted-icon"] {
  left: 0; bottom: -30%;
  width: 170px;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro-img-box .brand-img1 {
  left: 0; bottom: -47%;
  width: 190px;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro-img-box .brand-img2 {
  left: 30%; bottom: -47%;
  width: 150px;
}
.brand-intro-wrapper .lilyByRed-box .brand-intro-img-box .brand-img3 {
  left: 50%; bottom: -47%;
  width: 170px;
  z-index: -99;
}
/*- 패밀리사이트 소개 -*/
.brand-intro-wrapper .family-site-box {
  text-align: center;
  position: relative;
  margin-top: 250px;
}
.brand-intro-wrapper .family-site-box .brand-intro .brand-logo img {
  margin: 100px 0 20px;
  width: 150px;
}
.brand-intro-wrapper .family-site-box .brand-intro strong {
  font-size: 15px;
}
.brand-intro-wrapper .family-site-box .brand-intro li #dearown { color: var(--color-DearOwn);}
.brand-intro-wrapper .family-site-box .brand-intro li #slowhumming { color: var(--color-SlowHumming);}
.brand-intro-wrapper .family-site-box .brand-intro li #haterine { color: var(--color-Hatherine);}
.brand-intro-wrapper .family-site-box .brand-intro .des {
  font-size: var(--font-m-md);
  margin: 60px 0;
  line-height: 1.7;
}
.brand-intro-wrapper .family-site-box .brand-intro .des span {
  display: block;
}
/*- 바로가기 버튼 -*/
.brand-intro-wrapper .family-site-box .go-to-brand {
  font-size: var(--font-m-sm);
  font-weight: var(--font-bold);
  padding: 7px 20px;
  color: var(--color-white);
  border-radius: 20px;
}
.brand-intro-wrapper .family-site-box a#dearown { background-color: var(--color-DearOwn);}
.brand-intro-wrapper .family-site-box a#slowhumming { background-color: var(--color-SlowHumming);}
.brand-intro-wrapper .family-site-box a#haterine { background-color: var(--color-Hatherine);}
.brand-intro-wrapper .family-site-box .brand-intro-img-box img {
  position: absolute;
}
.brand-intro-wrapper .family-site-box .brand-intro-img-box .brand-box {
  width: 100%;
  top: 0; left: 0;
}
.brand-intro-wrapper .family-site-box .brand-intro-img-box img[alt="heart-icon"] {
  top: 50%; left: 27%;
  z-index: -99;
}
.brand-intro-wrapper .family-site-box .brand-intro-img-box img[alt="arrow-icon"] {
  top: 80%; left: 47%;
}

/***** event *****/
.event-wrapper {
  margin-top: 300px;
  position: relative;
}
/*- 움직이는 텍스트 -*/
.event-wrapper .event-move-text {
  font-size: 30px;
  color: var(--color-main-pink);
  opacity: 0.45;
  position: absolute;
  top: -30px; left: 0;
  margin: 0 -30px;
}
/*- 이벤트 내용 박스 -*/
.event-wrapper .event-box {
  border-radius: 20px;
  height: 500px;
  text-align: center;
  background: url(./images/footer-grid.png) no-repeat 50% / cover, var(--color-primary);
  position: relative;
}
.event-wrapper .event-box .event-title {
  font-family: var(--font-m-en);
  font-size: 30px;
  font-weight: 900;
  background-color: var(--color-white);
  width: 70%;
  margin: 50px auto;
  position: absolute;
}
.event-wrapper .event-box .front {
  color: var(--color-white);
  -webkit-text-stroke: 1.5px var(--color-primary);
  top: 30px; left: 55%;
  transform: translateX(-50%);
  z-index: 1;
}
.event-wrapper .event-box .back {
  color: var(--color-primary);
  top: 0; left: 45%;
  transform: translateX(-50%);
}
.event-wrapper .event-box .title {
  padding-top: 150px;
  color: var(--color-white);
  background: url(./images/event-star.svg) no-repeat 50% 100% / 150px;
}
.event-wrapper .event-box .event-des {
  font-size: 12px;
  color: var(--color-white);
  font-weight: 200;
  line-height: 2;
  margin: 30px 0;
}
.event-wrapper .event-box .event-btn {
  color: var(--color-primary);
  background-color: var(--color-white);
  font-size: 12px;
  font-weight: 900;
  padding: 7px 20px;
  border-radius: 20px;
}
.event-wrapper img {
  width: 100%;
  position: absolute;
  top: 70%;
}

/***** youtube *****/
.youtube-wrapper {
  margin: 400px 0 0;
  position: relative;
}
/*- 텍스트 박스 -*/
.youtube-wrapper .edition-box {
  padding: 50px 0;
  text-align: center;
}
.youtube-wrapper .edition-box .edition-sub-title {
  font-weight: 400;
  margin: 15px 0;
}
.youtube-wrapper .edition-box .edition-main-title {
  font-size: var(--font-m-xlg);
  color: var(--color-primary);
  font-weight: 900;
}
.youtube-wrapper .edition-box .edition-des {
  margin: 20px 0;
}
/*- 텍스트 데코 이미지 -*/
.youtube-wrapper .edition-img-box img {
  position: absolute;
}
.youtube-wrapper .edition-img-box img[alt="icon-arrow"] {
  left: 0; top: 16%;
  width: 70%;
}
.youtube-wrapper .edition-img-box img[alt="icon-star"] {
  top: 32%; left: 72%;
}
.youtube-wrapper .video-wrapper #player {
  width: 100%;
  aspect-ratio: 16 / 9;
}

/***** best seller *****/
.best-wrapper {
  text-align: center;
  margin-top: 70px;
}
/*- 텍스트 박스 -*/
.best-wrapper .best-text-box {}
.best-wrapper .best-text-box .best-main-title {}
.best-wrapper .best-text-box .best-sub-title {}
/*- 제품 리스트 -*/
.best-wrapper .best-list-box {}
.best-wrapper .best-list-box li {
  height: 450px;
  background-color: #FAFAFA;
  border-radius: 30px;
  margin: 30px 0;
}
.best-wrapper .best-list-box li:nth-child(even) .product-img {
  padding: 50px 0;
}
.best-wrapper .best-list-box li:nth-child(3) .product-img {
  padding: 30px 0;
}
.best-wrapper .best-list-box li .product-title {
  font-size: var(--font-m-lg);
  color: var(--color-primary);
  padding: 20px 0;
}
.best-wrapper .best-list-box li .product-des {
  font-size: var(--font-m-sm);
}