@charset "utf-8";

body {
  margin: 0px;
}

/* header */
.logo {}
.logo img {
  width: 94px;
}
header .global-menu {}
header .global-menu li {
}
header .global-menu li a {}

/* brand main */
.brand-main {
  text-align: center;
  width: 100%;
  margin: 0;
  height: 630px;
  font-family: var(--font-m-en);
  font-weight: var(--font-bold);
  background: url(./images/brand-main-backgroundimg.png) no-repeat 50%,
    url(./images/footer-grid.png) no-repeat 50% / cover, var(--color-primary);
  position: relative;
}

.brand-main .main-title-wrapper {
  width: 100%;
  height: 630px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand-main .main-title-wrapper .main-title {
  color: var(--color-primary);
  -webkit-text-stroke: 2px var(--color-main-pink);
  font-weight: 900;
  /* 원래 700인데 외곽선이 두께를 얇게 만들어서 일단 900으로 키워뒀어요 */
  line-height: 50px;
  font-size: 50px;
  margin: 50px 0px 25px;
  z-index: 2;
}

.brand-main .main-title-wrapper .lbr-sticker {
  background-color: var(--color-primary);
  width: 138px;
  height: 40px;
  line-height: 40px;
  font-size: 23px;
  color: var(--color-white);
  margin: 0px auto;
  margin-bottom: 30px;
  border-radius: 50px;
}

.brand-main .main-img-box {
  width: 100%;
  height: 630px;
}

.brand-main .main-img-box img {
  position: absolute;
}

.brand-main .main-img-box img[alt="tint1"] {
  top: 15px;
  left: 5px;
}

.brand-main .main-img-box img[alt="cherry1"] {
  bottom: 110px;
  left: -10px;
}

.brand-main .main-img-box img[alt="grape"] {
  bottom: 0px;
  left: 0px;
  width: 153px;
}

.brand-main .main-img-box img[alt="cherry2"] {
  top: -10px;
  right: 0px;
}

.brand-main .main-img-box img[alt="berry"] {
  top: 130px;
  right: 20px;
}

.brand-main .main-img-box img[alt="tint2"] {
  bottom: 10px;
  right: 0px;
}


/* brand info */
.brand-info {
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 30px 1fr 1fr 30px;
  grid-template-rows: 30px 1fr 30px;
}

/* .brand-info img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  margin: 0;
} */

.image-container {
  position: relative;
  width: 100%;
  /* 모바일 기본 비율 설정 (2:3) */
  padding-bottom: 150%; /* 2:3 비율 */
  overflow: hidden;
  border-radius: 30px;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.brand-info .left-box {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 9px;
  grid-template-rows: 1fr 18px 1fr;
}

.brand-info .left-box .image-container:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.brand-info .left-box .image-container:nth-child(2) {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

.brand-info .right-box {
  grid-row: 2 / 3;  
  grid-column: 3 / 4;
  width: 100%;
  display: grid;
  grid-template-columns: 9px 1fr;
  grid-template-rows: 100px 1fr 18px 1fr 30px;
}

.brand-info .right-box .image-container {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.brand-info .right-box .brand-info-txt {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
  align-content: center;
  margin-left: 10px;
}

.brand-info .right-box .brand-info-txt img {
  margin: 0;
  width: 107px;
  height: 36px;
}

.brand-info .right-box .brand-info-txt .sub-title {
  font-size: 11px;
  font-weight: bold;
  color: var(--color-primary);
  margin: 17px 0px 0px;
}

.brand-info .right-box .brand-info-txt p {
  font-size: 10px;
  font-weight: var(--font-regular);
  margin: 13px 0px 0px;
  line-height: 1.8;
}

.brand-info .right-box .brand-info-txt p strong {
  font-weight: 700;
}


/* brand img list */
.brand-img-list {
  width: 100%;
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 30px 1fr 30px;
  grid-template-rows: 30px 1fr 15px 1fr 15px 1fr 30px;
}

.brand-img-list img {
  width: 100%;
  border-radius: 30px;
  grid-column: 2 / 3;
}

.brand-img-list img:nth-child(1) {
  grid-row: 2 / 3;
}

.brand-img-list img:nth-child(2) {
  grid-row: 4 / 5;
}

.brand-img-list img:nth-child(3) {
  grid-row: 6 / 7;
}