@charset "UTF-8";

body {
    text-align: center;
    margin: 0 30px;
    font-family: "Noto Sans KR","Noto Sans",-apple-system, BlinkMacSystemFont, "Helvetica Neue","Apple SD Gothic Neo", Arial, sans-serif;;
}
.sub-shop-wrapper {
    padding-top: 95px;
}
.main-title {
    font-size: 30px;
    color: var(--color-primary);
}
.sub-shop-wrapper .main-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.main-btn {
    display: flex;
}
.product {
    display: flex;
    
}
.product-box img {
    width: 194px;
}


