@charset "utf-8";

/* 한나========마우스 허버 이벤트 */
@media (min-width: 1200px) {

}

/***** tablet *****/
@media (min-width: 834px) {
  
}

/***** pc *****/
@media (min-width: 1200px) {
    /***** main-page *****/
    .main-page-wrapper {
        /* background: url(./images/footer-grid.png) repeat 50% / cover, var(--color-primary); */
        height: 90vh;
    }
    .main-page-wrapper .brand-name-box {
        min-width: 1280px;
    }
    /*- 웰컴 투 릴리바이레드 -*/
    .main-page-wrapper .brand-name-box .title {
        font-size: 75px;
        width: 560px; height: 97px;
        top: 40%;
        line-height: 97px;
    }
    .main-page-wrapper .brand-name-box .title span {
        top: 90%; left: 50px;
    }
    /*- 릴리바이레드 핑크색 -*/
    .main-page-wrapper .brand-name-box::after {
        width: 430px;
        position: absolute;
        top: 30.8%;
        font-size: 30px;
        padding: 5px;
    }
    /*- 핑크색 뒤로 들어가는 검정 박스 -*/
    .main-page-wrapper .brand-name-box::before {
        position: absolute;
        font-size: 28px;
        left: 17%; top: 10%;
        transform: rotate(-35deg);
        width: 600px;
    }
    /*- 릴리!체키!샤시! -*/
    .main-page-wrapper .brand-name-box .main-intro {
        font-size: 45px;
        position: absolute;
        top: 60%;
    }
    /*- main-imgs -*/
    .main-page-wrapper .brand-name-box .main-img-box img[alt="black-star"] {
        width: 9%;
        right: 1%;
    }
    .main-page-wrapper .brand-name-box .main-img-box img[alt="cheery"] {
        width: 13%;
        right: 15%; top: 27%;
    }
    .main-page-wrapper .brand-name-box .main-img-box img[alt="tint"] {
        width: 27%;
        left: 5%;
    }
    /***** brand-intro  *****/
    .brand-intro-wrapper {
        margin: 130px auto;
        min-width: 1200px;
        max-width: 2000px;
        width: 660px;
    }
    /*- 버튼 비활성화 -*/
    .brand-intro-wrapper .slide-button {
        display: none;
    }
    /* 브랜드 영역 */
    .brand-intro-wrapper .slide-wrapper {
        display: grid;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    /*- 릴리바이레드 소개 -*/
    .slide-wrapper .lilyByRed-box {
        padding: 60px;
        grid-row: 1 / 4;
        grid-column: 1;
    }
    .brand-intro-wrapper .slide-wrapper .lilyByRed-box .brand-intro li .brand-logo img {
        width: 170px;
    }
    .brand-intro-wrapper .slide-wrapper .lilyByRed-box .brand-intro li strong {
        font-size: var(--font-pc-md);
        font-weight: var(--font-bold);
    }
    .brand-intro-wrapper .slide-wrapper .lilyByRed-box .brand-intro li .des {
        margin: 85px 0 25px;
    }
    .brand-intro-wrapper .slide-wrapper .family-site-box .brand-intro-img-box .brand-box {
        display: none;
    }
    .brand-intro-wrapper .slide-wrapper .family-site-box .brand-intro-img-box img {
        width: 100%;
    }
    /* 여기부터 이어서 작업하기 */
    .brand-intro-wrapper .slide-wrapper .family-site-box .pc-brand-box {
        display: block;
        top: 0; left: 0;
    }

    /***** event *****/
    .event-wrapper {
        padding-top: 25px;    
    }
    /*- 움직이는 텍스트 -*/
    .event-wrapper .animated-box .animated-box-track .animated-content {
        font-size: 80px;
    }
    /*- 이벤트 내용 -*/
    .event-wrapper .event-box {
        width: 80vw;
        min-width: 1200px;
        max-width: none;
        height: 62vh;
    }

    /***** best seller *****/
    .best-wrapper .best-text-box .best-main-title {
        font-size: var(--font-pc-lg);
    }

    /*- 제품 리스트 -*/
    .best-wrapper .best-list-box {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }
    .best-wrapper .best-list-box li {
        padding: 20px;
    }
    .best-wrapper .best-list-box li .product-title {
        font-size: var(--font-pc-md);
    }
    .best-wrapper .best-list-box li .product-des {
        font-size: var(--font-pc-sm);
        width: 230px; 
        margin: 0 auto;
        word-wrap: break-word;
    }
}