@charset "utf-8";

body {
  font-family: var(--font-m-ko);
  overflow-x: hidden;
}

section {
  margin: 0 30px;
}

/***** 모바일 버전 *****/
/***** header *****/
header {
  font-family: var(--font-m-en);
  background-color: var(--color-primary);
  font-weight: var(--font-bold);
  color: var(--color-white);
  font-size: 15px;
  width: 80%; height: 50px;
  border-radius: 25px;
  margin: 20px auto;
  padding: 0 10px;
  border: 1px solid rgba(254, 241, 195, 0.5);
  position: fixed;
  top: 0; left: 50%;
  transform: translateX(-50%);
  transition: .4s;
  z-index: 999;
}
header .logo a img {
  display: none;
}
header .global-menu {
  height: 100%;
  display: flex;
  justify-content: center;
}
header .global-menu li {
  width: calc(100% / 3);
}
header .global-menu li a {
  display: block;
  height: 50px; line-height: 50px;
  text-align: center;
  opacity: 0.5;
}

/***** 스크롤시 header 변경 *****/
header.active{
  margin: 0; padding: 0 20px;
  width: 100%;
  border-radius: 0;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  color: var(--color-primary);
  font-family: var(--font-m-kr);
  font-weight: var(--font-regular);
  text-transform: uppercase;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.active .logo a img {
  display: block;
}
header.active .global-menu li {
  margin: 0 10px;
}
header.active img {
  width: 80px; 
}

/***** footer *****/
footer {
  font-family: var(--font-m-ko);
  margin: 50px 30px;
}
/*- contact -*/
footer .contact-wrapper {
  width: 100%;
  height: 400px;
  background-color: var(--color-primary);
  border-radius: 30px;
  background: url(../../images/footer-grid.png) no-repeat 50% / cover, url(../../images/footer-backgroud-lets-talk.png) no-repeat 50% 85% / contain, var(--color-primary);
  position: relative;
}
footer .contact-wrapper .footer-contact {
  font-family: var(--font-m-en);
  color: var(--color-white);
  text-align: center;
  font-size: 28px;
  padding-top: 200px;
  line-height: 1.5;
}
/*- 말풍선 박스 -*/
footer .contact-wrapper .contact-box {
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-footer);
  width: 230px;
  padding: 20px 0px 30px;
  border-radius: 20px;
  position: absolute;
  top: -30px; left: 50%;
  transform: translateX(-70%);
}
footer .contact-wrapper .contact-box::after {
  content: "";
  background-color: var(--color-footer);
  position: absolute;
  bottom: -20px; right: 60px;
  border-top: solid 20px var(--color-footer);
  border-left: solid 50px var(--color-primary);
}
footer .contact-wrapper .contact-box .contact-num {
  font-size: 30px;
  font-family: var(--font-m-en);
}
footer .contact-wrapper .contact-box .contact-sub {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  padding-left: 60px;
  margin: 3px 25px 15px;
  background: url(../../images/footer-icon-call.svg) no-repeat 10%;
}
footer .contact-wrapper .contact-box .contact-btn {
  background-color: var(--color-white);
  color: var(--color-footer);
  font-size: var(--font-m-sm);
  font-weight: 500;
  padding: 5px 30px;
  border-radius: 7px;
}
footer .contact-wrapper .contact-box img {
  position: absolute;
  top: 80px;
  left: 75%;
  z-index: 99;
}
/*- footer address -*/
footer address {
  font-style: normal;
  margin: 30px auto;
  text-align: center;
  color: #888888;
}
footer address .address-list {
  font-size: 11px;
}
footer address .copy {
  font-size: 12px;
  font-weight: var(--font-bold);
  margin-top: 25px;
}

/***** tablet *****/
@media (min-width: 834px) {}

/***** pc *****/
@media (min-width: 1200px) {

  /***** header ***********/
  header .global-menu li a:hover {
    opacity: 1;
  }

  /***** footer *****/
  footer {
    margin: 0 80px;
    padding: 80px 0px 40px;
  }

  /*- contact -*/
  footer .contact-wrapper {
    width: 100%;
    height: 335px;
  }

  footer .contact-wrapper .footer-contact {
    text-align: left;
    font-size: 35px;
    padding: 120px 0px 0px 60px;
  }

  /*- 말풍선 박스 -*/
  footer .contact-wrapper .contact-box {
    width: 230px;
    height: 184px;
    padding: 15px 20px 20px;
    top: -70px;
    left: 78%;
    transform: translateX(-70%);
  }

  footer .contact-wrapper .contact-box::after {
    content: "";
    background-color: var(--color-footer);
    position: absolute;
    bottom: -20px;
    right: 60px;
    border-top: solid 20px var(--color-footer);
    border-left: solid 50px var(--color-primary);
    /* border-right: solid 0px var(--color-primary); */
  }

  footer .contact-wrapper .contact-box .contact-num {
    font-size: 33px;
    margin: 5px 0px 0px;
  }

  footer .contact-wrapper .contact-box .contact-sub {
    font-size: 13px;
    padding-left: 60px;
    margin: 5px 0px 20px;
    background: url(../../images/footer-icon-call.svg) no-repeat 10%;
  }

  footer .contact-wrapper .contact-box .contact-btn {
    font-size: var(--font-pc-md);
    padding: 7px 30px;
  }

  footer .contact-wrapper .contact-box img {
    position: absolute;
    top: 140px;
    left: 90%;
    z-index: 99;
  }

  /*- footer address -*/
  footer address {
    margin: 30px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  footer address .address-list {
    padding: 0;
    margin: 0;
    font-size: 11px;
    list-style: none;
    display: flex;
    text-align: left;
  }
  footer address .address-list li:last-child {
    margin-left: 10px;
  }

  footer address .copy {
    margin: 0;
  }
}